VITE_E2E_PW="[password]" # just ask a friend
VITE_BASE_URL="http://localhost:5000" # your local front end needs to be running to test locally
VITE_STATE_USER="george@example.com" # change this to test with other state users
VITE_REVIEWER_USER="reviewer@example.com" # change this to test with other cms users
