# Set a project name.  This value is used extensively in deployment for namespacing purposes.
# Once this value is set for a project, do not update it.
export PROJECT=om

# Define the regions for deployment
export REGION_A=us-east-1

# Put top level node_modules on the path.  This includes serverless, typescript, etc.
PATH_add ./node_modules/.bin

# Put this dir on path, to include the run script
PATH_add .

# setup for nvm use command
use_nvm() {
  local node_version=$1

  nvm_sh=~/.nvm/nvm.sh
  if [[ -e $nvm_sh ]]; then
    source $nvm_sh
    nvm use $node_version
  fi
}

use nvm
