*.js
!*config.js
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json
.turbo
.yarn_install
build_run
.build_run
DS_Store
.DS_Store
**/*.DS_Store

# legacy ignores
.serverless
./src
.env*

# tests
coverage
