*.js
!*config.js
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json
.turbo
.yarn_install
build_run
.build_run
DS_Store
.DS_Store
**/*.DS_Store

# legacy ignores
.serverless
./src
.env*
env.json

# tests
accessibility
coverage
.vitest

.idea
.history

# local test and docs files
test/local/*
docs/local/*

#graphify
graphify-out/cache/
graphify-out/manifest.json
graphify-out/cost.json
.cursor/*
/graphify-out/.graphify_detect.json
.codex/
.agents.md