service: ${self:custom.project}-ui-src

frameworkVersion: "3"

plugins:
  - serverless-plugin-scripts
  - serverless-s3-sync
  - serverless-cloudfront-invalidate
  - serverless-stack-termination-protection
  - "@stratiformdigital/serverless-s3-security-helper"

constructs:
  react:
    type: single-page-app
    path: dist

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1
  stackTags:
    PROJECT: ${self:custom.project}
    SERVICE: ${self:service}

custom:
  project: ${env:PROJECT}
  stage: ${opt:stage, self:provider.stage}
  region: ${opt:region, self:provider.region}
  serverlessTerminationProtection:
    stages:
      - master
      - val
      - production
  s3Sync:
    - bucketName: ${param:S3BucketName}
      localDir: ./dist
      deleteRemoved: true
  cloudfrontInvalidate:
    - distributionId: ${param:CloudfrontDistributionId}
      items:
        - "/*"
  scripts:
    hooks:
      package:initialize: |
        set -e
        echo """
        VITE_API_REGION=${param:ApiRegion}
        VITE_API_URL=${param:ApiUrl}
        """ > .env.local
        yarn build
