@tailwind base;
@tailwind components;
@tailwind utilities;

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: rgba(255, 255, 255, 0.7);
  }

  .usa-overlay .application-logo-container{
    z-index: 200;
  }

  .application-logo-container{
    z-index: auto;
  }

   
  .usa-nav {
  z-index: 800,
  }