<div class="w-full py-2 px-12 @md:px-2 text-xs border border-outline first:rounded-t-md last:rounded-b-md @md:first:rounded-tr-none @md:first:rounded-l-md @md:last:rounded-bl-none @md:last:rounded-r-md">
  <div class="flex flex-row @md:flex-col @xl:flex-row justify-center @md:justify-center items-center @xl:gap-2">
    <span>{{ include.label }}</span> 
    <span class="min-w-4 px-2 text-center bg-highlight border border-transparent rounded-3xl">
      {{ include.value }}
    </span>
  </div>
</div>
