.test-coverage-report-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.stat-container {
  border: 1px solid #d0d7de;
  border-radius: 6px;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.stat-header {
  font-size: large;
  font-weight: 500;
}

.stat-percent {
  font-size: xx-large;
  font-weight: bolder;
  flex-grow: 1;
}

.stat-fraction {
  font-size: smaller;
  font-weight: normal;
}

.coverage-links {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.coverage-success {
  color: rgb(2, 119, 2);
}

.coverage-failure {
  color: rgb(155, 0, 0);
}

.coverage-warning {
  color: rgb(243, 186, 17);
}
