.test-report-container {
  display: flex;
  flex-direction: column;
}

.report-header {
  margin-top: 1rem;
  border: 1px solid #d0d7de;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: none;
  background-color: #f6f8fa;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-size: smaller;
  color: #6e7781;
}

.report-body {
  border: 1px solid #d0d7de;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 1rem 0 0.5rem 0;
  line-height: 1.5rem;
  font-size: smaller;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.results {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}

.report-errors {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 35rem;
  font-family: monospace;
}

.report-error {
  border: 1px solid #d0d7de;
  border-radius: 6px;
  padding: 0.5rem 1rem;
}

.stat-item:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.stat-item:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.stat-item {
  flex: none;
  position: relative;
  float: left;
  padding: 0.5rem 1rem;
  color: #24292f;
  border: 1px solid #d0d7de;
}

.report-stats {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  line-height: 2rem;
}

.report-link {
  width: 100%;
  display: flex;
  justify-content: end;
  min-height: 1rem;
}

.stat-count {
  margin-left: 0.5rem;
  display: inline;
  min-width: 2rem;
  padding: 0 0.5rem;
  color: #24292f;
  text-align: center;
  background-color: rgba(175, 184, 193, 0.2);
  border: 1px solid transparent;
  border-radius: 2em;
}

.status-icon {
  height: 3.5rem;
  width: 3.5rem;
}

.status-pass {
  color: rgb(2, 119, 2);
}

.status-fail {
  color: rgb(155, 0, 0);
}

.status-warn {
  color: rgb(243, 186, 17);
}
