service: ${self:custom.project}-uploads
frameworkVersion: "3"

plugins:
  - serverless-esbuild
  - serverless-stack-termination-protection
  - "@stratiformdigital/serverless-iam-helper"
  - "@stratiformdigital/serverless-s3-security-helper"
  - serverless-scriptable-plugin
provider:
  name: aws
  runtime: nodejs18.x
  region: ${env:REGION_A}
  stackTags:
    PROJECT: ${self:custom.project}
    SERVICE: ${self:service}
  environment:
    region: ${self:provider.region}
  iam:
    role:
      path: /delegatedadmin/developer/
      permissionsBoundary: arn:aws:iam::${aws:accountId}:policy/cms-cloud-admin/developer-boundary-policy
      statements:
        - Effect: "Allow"
          Action:
            - s3:GetObject
            - s3:GetObjectTagging
            - s3:PutObject
            - s3:PutObjectAcl
            - s3:PutObjectTagging
            - s3:PutObjectVersionTagging
            - s3:DeleteObject
            - s3:ListBucket
            - s3:GetBucketPolicy
            - s3:PutBucketPolicy
            - s3:ListBucketVersions
            - s3:DeleteObjectVersion
            - s3:HeadObject
          Resource:
            - arn:aws:s3:::${self:custom.attachmentsBucketName}/*
            - arn:aws:s3:::${self:custom.clamDefsBucketName}/*
            - arn:aws:s3:::${self:custom.attachmentsBucketName}
            - arn:aws:s3:::${self:custom.clamDefsBucketName}
        - Effect: "Allow"
          Action:
            - lambda:InvokeFunction
          Resource:
            - arn:aws:lambda:${self:provider.region}:${aws:accountId}:function:${self:service}-${sls:stage}-avDownloadDefinitions

custom:
  project: ${env:PROJECT}
  stage: ${opt:stage, self:provider.stage}
  forceApplyBucketPolicies: ${ssm:/aws/reference/secretsmanager/${self:custom.project}/${sls:stage}/forceApplyBucketPolicies, ssm:/aws/reference/secretsmanager/${self:custom.project}/default/forceApplyBucketPolicies, "blank"}
  clamDefsBucketName: ${self:service}-${sls:stage}-avscan-${aws:accountId}
  attachmentsBucketName: ${self:service}-${sls:stage}-attachments-${aws:accountId}
  serverlessTerminationProtection:
    stages: # Apply CloudFormation termination protection for these stages
      - master
      - val
      - production
  scriptable:
    hooks:
      package:initialize: |
        set -e
        curl -s -L --output lambda_layer.zip https://github.com/CMSgov/lambda-clamav-layer/releases/download/0.7/lambda_layer.zip
      deploy:finalize: |
        rm lambda_layer.zip

layers:
  clamDefs:
    name: clamDefs-${self:service}-${sls:stage}
    package:
      artifact: lambda_layer.zip

functions:
  avScan:
    handler: src/antivirus.lambdaHandleEvent
    name: ${self:service}-${sls:stage}-avScan
    timeout: 300 # 300 seconds = 5 minutes. Average scan is 25 seconds.
    memorySize: 3008
    layers:
      - !Ref ClamDefsLambdaLayer
    environment:
      CLAMAV_BUCKET_NAME: !Ref ClamDefsBucket
      PATH_TO_AV_DEFINITIONS: "lambda/s3-antivirus/av-definitions"
  avDownloadDefinitions:
    handler: src/download-definitions.lambdaHandleEvent
    timeout: 300 # 300 seconds = 5 minutes
    memorySize: 1024
    layers:
      - !Ref ClamDefsLambdaLayer
    environment:
      CLAMAV_BUCKET_NAME: !Ref ClamDefsBucket
      PATH_TO_AV_DEFINITIONS: "lambda/s3-antivirus/av-definitions"
    events:
      - schedule: "cron(0 10 */1 * ? *)"
  triggerInitialDownload:
    handler: src/triggerInitialDownload.handler
    timeout: 300 # 300 seconds = 5 minutes
    memorySize: 1024
  applyPolicy:
    handler: src/applyPolicy.handler
    timeout: 300
    memorySize: 1024
  emptyBuckets:
    handler: src/emptyBuckets.handler
    timeout: 900
resources:
  Resources:
    AttachmentsBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:custom.attachmentsBucketName}
        # Set the CORS policy
        CorsConfiguration:
          CorsRules:
            - AllowedOrigins:
                - "*"
              AllowedHeaders:
                - "*"
              AllowedMethods:
                - GET
                - PUT
                - POST
                - DELETE
                - HEAD
              ExposedHeaders:
                - ETag
              MaxAge: 3000
        NotificationConfiguration:
          LambdaConfigurations:
            - Event: s3:ObjectCreated:*
              Function: !GetAtt AvScanLambdaFunction.Arn
      DependsOn: LambdaInvokePermission
    AttachmentsBucketPolicyCustomResource:
      Type: Custom::AttachmentsBucketPolicy
      Properties:
        ServiceToken: !GetAtt ApplyPolicyLambdaFunction.Arn
        ForceApply: ${self:custom.forceApplyBucketPolicies}
        Bucket: !Ref AttachmentsBucket
        Policy:
          Version: "2012-10-17"
          Statement:
            - Effect: Deny
              Principal: "*"
              Action: "s3:*"
              Resource:
                - !Sub ${AttachmentsBucket.Arn}/*
                - !Sub ${AttachmentsBucket.Arn}
              Condition:
                Bool:
                  "aws:SecureTransport": "false"
            - Effect: "Deny"
              Principal: "*"
              Action:
                - "s3:GetObject"
              Resource:
                - !Sub ${AttachmentsBucket.Arn}/*
              Condition:
                StringNotEquals:
                  s3:ExistingObjectTag/virusScanStatus:
                    - "CLEAN"
                  aws:PrincipalArn: !GetAtt IamRoleLambdaExecution.Arn
    LambdaInvokePermission:
      Type: AWS::Lambda::Permission
      Properties:
        FunctionName: !GetAtt AvScanLambdaFunction.Arn
        Action: lambda:InvokeFunction
        Principal: s3.amazonaws.com
        SourceAccount: ${aws:accountId}
        SourceArn: arn:aws:s3:::${self:service}-${sls:stage}-attachments-${aws:accountId}
    ClamDefsBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:custom.clamDefsBucketName}
        AccessControl: Private
        BucketEncryption:
          ServerSideEncryptionConfiguration:
            - ServerSideEncryptionByDefault:
                SSEAlgorithm: AES256
    ClamDefsBucketPolicyCustomResource:
      Type: Custom::ClamDefsBucketPolicy
      Properties:
        ServiceToken: !GetAtt ApplyPolicyLambdaFunction.Arn
        ForceApply: ${self:custom.forceApplyBucketPolicies}
        Bucket: !Ref ClamDefsBucket
        Policy:
          Version: "2012-10-17"
          Statement:
            - Effect: Deny
              Principal: "*"
              Action: "s3:*"
              Resource:
                - !Sub ${ClamDefsBucket.Arn}/*
                - !Sub ${ClamDefsBucket.Arn}
              Condition:
                Bool:
                  "aws:SecureTransport": "false"
    TriggerInitialDownload:
      Type: Custom::TriggerInitialDownload
      Properties:
        ServiceToken: !GetAtt TriggerInitialDownloadLambdaFunction.Arn
        FunctionName: !GetAtt AvDownloadDefinitionsLambdaFunction.Arn
    EmptyBuckets:
      Type: Custom::EmptyBuckets
      Properties:
        ServiceToken: !GetAtt EmptyBucketsLambdaFunction.Arn
        Buckets:
          - !Ref ClamDefsBucket
  Outputs:
    AttachmentsBucketName:
      Value:
        Ref: AttachmentsBucket
    AttachmentsBucketArn:
      Value: !GetAtt AttachmentsBucket.Arn
    AttachmentsBucketRegion:
      Value: ${self:provider.region}
