---
layout: default
---

<!-- use the custom key_list filter to get the run ids for the branch and sort them by newest to oldest -->
{% assign run_ids = site.data.playwright-reports.branches[page.branch] | key_list | reverse %}
{% for run_id in run_ids %}
  <!-- loop through the run ids -->
  {% assign data = site.data.playwright-reports.branches[page.branch][run_id] %}
  <!-- capture creates a link using the page.branch variable and the run id -->
  {% capture report_link %}/playwright-reports/branches/{{page.branch}}/{{run_id}}.html{% endcapture %}
  <!--
    Include the html snippet in `_includes/playwright-summary.html` with the parameters the `page.branch` variable as `branch`,
    the `run_id` variable as `run_id`, the `data` variable as `data`, and the `report_link` variable as `url`.
  -->
  {% include playwright-summary.html branch=page.branch run_id=run_id data=data url=report_link %}
{% endfor %}
