---
layout: default
---

<h2>{{page.branch}}</h2>
{% assign run_ids = "" | split: "," %}
{% for run in site.data.playwright-reports.branches[page.branch] %}
  {% assign run_id = run[0] %}
  {% assign run_ids = run_ids | push: run_id %}
{% endfor %}
{% assign run_ids = run_ids | reverse %}

{% for run_id in run_ids %}
  {% assign data = site.data.playwright-reports.branches[page.branch][run_id] %}
  {% capture url %}
    /macpro-mako/playwright-reports/branches/{{page.branch}}/{{run_id}}.html
  {% endcapture %}
  {% include playwright-summary.html run_id=run_id data=data url=url %}
{% endfor %}
