name: Pre-commit

on: [pull_request]

jobs:
  prettier:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup python
        uses: actions/setup-python@v2

      - name: Run pre-commit
        uses: pre-commit/action@v2.0.2
        with:
          extra_args: --all-files
