name: Deploy to GitHub Pages

on:
  workflow_call:
    inputs:
      ARTIFACT_ID:
        type: string
        required: true
      DEPLOY_TO:
        type: string
        required: true
      COMMIT_MSG:
        type: string
        required: true

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write

jobs:
  push-to-branch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout GitHub Pages Branch
        uses: actions/checkout@v4
        with:
          ref: gh-pages
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.ARTIFACT_ID }}
          path: ${{ inputs.DEPLOY_TO }}
      - name: Push to GitHub Pages Branch
        working-directory: ${{ inputs.DEPLOY_TO }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "${{ inputs.COMMIT_MSG }}"
          git pull origin gh-pages --rebase -s recursive -X ours
          git push
      - run: |
          if [[ ${{ inputs.DEPLOY_TO }} == '.' ]]; then
            echo "Report URL: https://enterprise-cmcs.github.io/macpro-mako/" >> "$GITHUB_STEP_SUMMARY"
          else
            echo "Report URL: https://enterprise-cmcs.github.io/macpro-mako/${{ inputs.DEPLOY_TO }}" >> "$GITHUB_STEP_SUMMARY"
          fi
